---
import type { CollectionEntry } from "astro:content";
const { feature } = Astro.props;
interface Props {
  feature: CollectionEntry<"feature">;
}
---

<div class="group rounded-md shadow dark:shadow-gray-700 relative bg-red-500 bg-gradient-to-r from-red-600 to-red-400 p-6 overflow-hidden h-auto">
    <div class="flex items-center justify-center size-24 -rotate-360 text-white text-center rounded-full p-4 bg-black group-hover:bg-red-100/10 duration-500">
        <p>{feature.data.name}</p>
    </div>

    <div class="content mt-6 relative z-1">
        <a href="https://dubai-hikvision.com/products" class="title text-lg font-semibold text-black hover:text-red-500">{feature.data.title}</a>
        <p class="text-black mt-3">{feature.data.body}</p>

        <div class="mt-6">
            <a href="https://dubai-hikvision.com" class="text-black">Read More <i class="mdi mdi-chevron-right align-middle"></i></a>
        </div>
    </div>

    <div class="absolute bottom-0 -end-16">
        <i data-feather="trending-up" class="size-48 text-red-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
    </div>
</div>