---
import Layout from "../layouts/Layout.astro";
import HeroComponents from "../components/HeroComponents.astro";
import FeatureComponents from "../components/FeatureComponents.astro";
import DigiComponents from "../components/DigiComponents.astro";
import Slider from "../components/Slider";
import FAQ from "../components/FAQ.astro";

---

<Layout title="Welcome to Lovosis Technology U.A.E.">
  <HeroComponents />
  <FeatureComponents />
  <DigiComponents />
  <div class="grid grid-cols-1 pb-6 text-center text-white text-4xl mt-8">Latest Hikvision products in UAE</div>
  <Slider client:load />
  
  <FAQ/>
</Layout>
