---
import Layout from "../layouts/Layout.astro";
import HeroComponents from "../components/HeroComponents.astro";
import FeatureComponents from "../components/FeatureComponents.astro";
import DigiComponents from "../components/DigiComponents.astro";
import Slider from "../components/Slider";
import FAQ from "../components/FAQ.astro";
const title: string =
  "Hikvision dealer in Dubai | Best Hikvision dealer in Dubai,U.A.E";
const description: string = "Premier Hikvision distributor in Dubai, UAE. Explore our range of genuine products and benefit from expert support. Contact us for inquiries";
---

<Layout title={title} description ={description}>
  <HeroComponents />
  <FeatureComponents />
  <DigiComponents />
  <div class="grid grid-cols-1 pb-6 text-center text-white text-4xl mt-8">
    Latest Hikvision products in UAE
  </div>
  <Slider client:load />

  <FAQ />
</Layout>
