---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import FeatureCard from "./widgets/FeatureCard.astro";

const feature: CollectionEntry<"feature">[] = (
  await getCollection("feature")
)
---

<section class="relative md:py-24 py-16 bg-slate-50">
<div class="container relative">
    <div class="grid grid-cols-1 pb-6 text-center">
    <h3 class="font-semibold text-4xl leading-normal mb-4">Digitla Link Technology L.L.C U.A.E</h3>
     <p class="text-slate-400 max-w-xl mx-auto">We offer competitive pricing on all Hikvision products, allowing you to access cutting-edge security technology at affordable rates. With us, you can enjoy the best value for your investment without compromising on quality or performance.</p>
    </div><!--end grid-->   
</div>
<div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 gap-6 mt-6 p-8">
{
      feature.map((feature, index) => (<FeatureCard feature={feature} />)
   )
    }
</div>
</section>
<script is:inline src="/scripts/vendor/preline/tabs/index.js"></script>