---
import HeroMotion from "./HeroMotion";
---

<section class="relative p-8 bg-hikvision">
  <div class="relative mt-8 px-2">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-6 items-center">
      <div>
        <p class="text-white">Lovosis Technology L.L.C</p>
        <h1
          class="font-bold text-light-hikvision lg:leading-normal leading-normal tracking-wide text-4xl lg:text-6xl mb-5"
        >
          Hikvision Authorized Distributor in U.A.E
        </h1>
        <p class="text-white text-lg max-w-xl">
          Discover top-quality Hikvision products and solutions at our UAE
          distribution center. As an authorized distributor, we offer a
          comprehensive range of cutting-edge security and surveillance systems
          tailored to meet your needs.
        </p>
        <div
          class="relative inline-flex items-center justify-center mt-8 sm:mt-12 group"
        >
          <div
            class="absolute transition-all duration-200 rounded-full -inset-px bg-gradient-to-r from-cyan-500 to-purple-500 group-hover:shadow-lg group-hover:shadow-cyan-500/50"
          >
          </div>
          <a
            href="/contact"
            title="Sales contact lovosis Technology"
            class="relative inline-flex items-center justify-center px-8 py-3 text-base font-normal text-white bg-red-800 border border-transparent rounded-full"
            role="button"
          >
            Contact Sales
          </a>
        </div>
      </div>
      <HeroMotion client:load /> 
    </div>
  </div>
</section>

