---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProductCard from "../../components/ProductCard.astro";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products")
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id
);

const productCamera: CollectionEntry<"products">[] = (
  await getCollection("products")
).filter((a: CollectionEntry<"products">) => a.data.main.category == "Camera");

const productDvr: CollectionEntry<"products">[] = (
  await getCollection("products")
).filter((a: CollectionEntry<"products">) => a.data.main.category == "DVR");

const title: string =
  "Hikvision National Distributor in Dubai| cctv,Access controll systems,DVR,NVR  DUBAI";

---

<Layout title={title}>
  <div>
    <div class="mt-6 sm:mb-1 mx-auto md:mb-6 w-1/4 bg-slate-200">
      <h2
        class="text-balance   p-2 rounded text-center   font-normal text-neutral-800 dark:text-neutral-800 sm:text-2xl lg:text-4xl"
      >
        All Products
      </h2>
    </div>
    <!-- <div class="grid grid-cols-1 w-full gap-4  lg:grid-cols-4 sm:grid-cols-2 md:gap-6 xl:gap-8 "> -->
    <div
      class="grid grid-cols-1 px-4 py-12 mt-8 w-full gap-4 lg:grid-cols-6 lg:gap-4 md:grid-2 md:grid-cols-4 sm:grid-cols-2 md:gap-4 xl:gap-4"
    >
      {product.map((product) => <ProductCard product={product} />)}
    </div>
  </div>

  <div>
    <div class="mt-6 sm:mb-1 mx-auto md:mb-6 w-1/4 text-center">
      <h2
        class="text-balance   p-2 rounded bg-slate-200  font-normal text-neutral-800 dark:text-neutral-800 sm:text-3xl lg:text-4xl"
      >
        Camera
      </h2>
    </div>
    <!-- <div class="grid grid-cols-1 w-full gap-4  lg:grid-cols-4 sm:grid-cols-2 md:gap-6 xl:gap-8 "> -->
    <div
      class="grid grid-cols-1 px-4 py-12 mt-8 w-full gap-4 lg:grid-cols-6 lg:gap-4 md:grid-2 md:grid-cols-4 sm:grid-cols-2 md:gap-4 xl:gap-4"
    >
      {productCamera.map((product) => <ProductCard product={product} />)}
    </div>
  </div>

  <div>
    <div class="mt-6 sm:mb-1 mx-auto md:mb-6 w-1/4 text-center">
      <h2
        class="text-balance   p-2 rounded bg-slate-200  font-normal text-neutral-800 dark:text-neutral-800 sm:text-3xl lg:text-4xl"
      >
        DVR
      </h2>
    </div>
    <!-- <div class="grid grid-cols-1 w-full gap-4  lg:grid-cols-4 sm:grid-cols-2 md:gap-6 xl:gap-8 "> -->
    <div
      class="grid grid-cols-1 px-4 py-12 mt-8 w-full gap-4 lg:grid-cols-6 lg:gap-4 md:grid-2 md:grid-cols-4 sm:grid-cols-2 md:gap-4 xl:gap-4"
    >
      {productDvr.map((product) => <ProductCard product={product} />)}
    </div>
  </div>
</Layout>
