---
interface Props {
  title: string;
}
import "../assets/styles/tailwind.css";
import { SEO } from "astro-seo";
import HeaderComponents from "../components/HeaderComponents.astro";
import FooterSections from "../components/FooterSections.astro";
import Whatsapp from "../components/Whatsapp";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";


---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <GoogleAnalytics/>
    
    <SEO
      title="Authorized Hikvision distributor in U.A.E"
      description="unv distributor,Hikvision dealer,Dahua distributor"
      canonical="https://dubai-hikvision.com"
      openGraph={{
        basic: {
          title: "Hikvision distributor in U.A.E",
          type: "Website",
          image:"https://digitallink.ae/wp-content/uploads/2023/04/imageedit_3_7633242330.png",
          url: "https://dubai-hikvision.com"
         
        },
      }}
      twitter={{
        card:"summary_large_image",
        creator: "@Lovosis Technology",
        site: "Lovosis Technology L.L.C",
        title:"Top Hikvision Distributor in U.A.E",
        image:"https://digitallink.ae/wp-content/uploads/2023/04/imageedit_3_7633242330.png",
        imageAlt:"Lovosis Technology U.A.E",
        description:"Lovosis Technology is an authorized distributor of Hikvision products in the UAE"

      }}
      extend={{
        
        link: [{ rel: "icon", href: "/favicon.svg" }],
        
        meta: [
          {
            name: "twitter:image",
            content:
              "https://digitallink.ae/wp-content/uploads/2023/04/imageedit_3_7633242330.png",
          },
          { name: "twitter:title", content: "Hikviison distributor U.A.E" },
          { name: "twitter:description", content: "Lovosis Technology L.L.C" },
        ],
      }}
    />

  </head>
  <body class = "bg-black">
    <HeaderComponents />
    <!-- <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8"> -->
      <div class="mx-auto max-width-8xl px-0 sm:px-0  lg:px-0">
      <main>
        <slot />
      </main>
    </div>
    <Whatsapp client:load />
   <FooterSections/>
  </body>
</html>
