---
interface Props {
  title: string;
}
import "../assets/styles/tailwind.css";
import { SEO } from "astro-seo";
import HeaderComponents from "../components/HeaderComponents.astro";
import FooterSections from "../components/FooterSections.astro";
import Whatsapp from "../components/Whatsapp";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import FacebookPixel from "../components/FacebookPixel.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="p:domain_verify" content="b9495dd687024edbf3a96a57e6ecf9d6"/>
    <meta name="yandex-verification" content="fadb69f77db9eae5" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <GoogleAnalytics/>
    <!-- <FacebookPixel/> -->
    
    <SEO
      title="Best Hikvision Distributor in Dubai, UAE | Lovosis Technology"
      description="Lovosis Technology is your premier destination for Hikvision products in Dubai, UAE. We offer Hikvision cameras and systems at reasonable rates. Authorized distributor of Hikvision and Dahua products."
      canonical="https://dubai-hikvision.com"
      openGraph={{
        basic: {
          title: "Best Hikvision Distributor in Dubai, UAE | Lovosis Technology",
          type: "Website",
          image:"https://dubai-hikvision.com/lovosisgraph.jpg",
          url: "https://dubai-hikvision.com",
          
         
        },
      }}
      twitter={{
        card:"summary_large_image",
        creator: "@Lovosis Technology",
        site: "Lovosis Technology L.L.C",
        title:"Best Hikvision Distributor in Dubai, UAE | Lovosis Technology",
        image:"https://dubai-hikvision.com/lovosisgraph.jpg",
        imageAlt:"Lovosis Technology U.A.E",
        description:"Lovosis Technology is an authorized distributor of Hikvision products in Dubai, UAE."

      }}
      extend={{
        
        link: [{ rel: "icon", href: "/favicon.svg" }],
        
        meta: [
         
          { name: "keywords", content: "Hikvision distributor, Dubai, UAE, surveillance, security" },
          { name: "robots", content: "index, follow" },
          { name: "language", content: "English"},
          { name: "Author", content: "Digiimpact"},
          { name: "description", content: "Lovosis Technology is your premier destination for Hikvision products in Dubai, UAE. We offer Hikvision cameras and systems at reasonable rates. Authorized distributor of Hikvision and Dahua products."},
          {name:"organization", content:JSON.stringify({
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "Lovosis Technology Dubai",
          "url": "https://dubai-hikvision.com",
          "logo": "https://dubai-hikvision.com/logo.jpg",
          "description": "Lovosis Technology is your premier destination for Hikvision products in Dubai, UAE.",
          "address": {
          "@type": "PostalAddress",
          "streetAddress": "25th St - Naif - Dubai - United Arab Emirates",
          "addressLocality": "Dubai",
          "addressRegion": "Dubai",
          "postalCode": "123241",
          "addressCountry": "AE"
  },
           "contactPoint": {
           "@type": "ContactPoint",
           "telephone": "+971 50 998 2727",
           "contactType": "Sales"
  }

         }),}

        ],
      }}
    />

  </head>
  <body class = "bg-black">
    <HeaderComponents />
    <!-- <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8"> -->
      <div class="mx-auto max-width-8xl px-0 sm:px-0  lg:px-0">
      <main>
        <slot />
      </main>
    </div>
    <Whatsapp client:load />
   <FooterSections/>
  </body>
</html>
